* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex article {
    width: calc(33.3333% - 20px);
    margin: 10px;
    padding: 10px;
    border: 4px solid;

}


.flex figure img {
    width: 100%;
    height: auto;
}


article.peligroso {
    border-color: red;
}

article.peligrosito {
    border-color: yellow;
}

article.cuidadin {
    border-color: green;
}

article.manso {
    border-color: blue;
}

article.supermansito {
    border-color: aquamarine;
}